*.pyc
*.egg-info
*.map
databases/*
media/*
secrects.py
ansible/LOCALAUTH.yml
static/*
media/*
logs/*
node_modules/*
*.json
launch.sh
*.pem
*.dat
*.crt
*.gx
*.zip
*.jar
*.ca-bundle
*.gz
*.yml
*.sublime-workspace
*.DS_Store
